.contacts {
  padding: 120px 0 90px 0;
  background: $color2;
  &__photo {
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &_text {
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    color: #000000;
  }
  &__social {
    margin-top: 10px;
  }
  &__link {
    margin-right: 10px;
  }
  &__wrapper {
    display: grid;
    padding: 0 35px 0 52px;
    grid-template-columns: 400px 585px;
    column-gap: 120px;
    // justify-content: space-between;
  }
  &__descr {
    position: relative;
    .divider {
      margin: 4px 0 20px 0px;
    }
    .title {
      margin-top: 10px;
      text-align: left;
      &:before {
        position: absolute;
        content: '';
        width: 36px;
        height: 36px;
        background: $color1;
        border-radius: 100%;
        z-index: -1;
        top: -25%;
        left: 0px;
      }
    }
  }
  &__form {
    margin-top: 30px;
    display: grid;
    grid-template: 45px 190px 45px / repeat(2, 280px);
    justify-content: space-between;
    row-gap: 25px; //
  }
  &__triggers {
    grid-column: 1/3;
    display: grid;
    grid-template-columns: repeat(2, auto);
    column-gap: 35px;
  }
  &__policy {
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    input {
      margin-right: 10px;
    }
  }
  &__input {
    position: relative;
    input {
      width: 100%;
      height: 100%;
      padding: 0 20px;
      font-size: 12px;
      font-weight: 500;
      background-color: $color2;
    }
    label {
      display: block;
      position: absolute;
      padding: 0 8px;
      height: 18px;
      background-color: #fff;
      font-size: 12px;
      margin-bottom: 0;
      top: -9px;
      left: 12px;
    }
  }
  &__textarea {
    grid-column: 1/3;
    position: relative;
    textarea {
      width: 100%;
      height: 100%;
      padding: 20px;
      font-size: 12px;
      font-weight: 500;
      resize: none;
      background-color: $color2;
    }
    label {
      display: block;
      position: absolute;
      padding: 0 8px;
      height: 18px;
      background-color: #fff;
      font-size: 12px;
      margin-bottom: 0;
      top: -9px;
      left: 12px;
    }
  }
  &__btn {
    border: none;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
  }
}
